<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Buttons
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <!--<ion-card-header>-->
    <!--<ion-card-title>Buttons</ion-card-title>-->
    <!--<ion-card-subtitle>Demonstrate Ionic Buttons</ion-card-subtitle>-->
    <!--</ion-card-header>-->
    <ion-card-content>
      <div>
        <ion-button expand="full">Full Button</ion-button>
        <p>Full-width button with rounded corners.</p>

        <ion-button expand="block">Block Button</ion-button>
        <p>Full-width button with square corners and no border on the left or right.</p>

        <ion-button expand="block" disabled="true">Disabled Block Button</ion-button>
        <p>Full-width button with rounded corners.</p>

        <ion-button expand="block" href="http://www.google.com">Href www.google.com</ion-button>
        <p>Button with a link.</p>


        <ion-button expand="block">
          <ion-icon slot="start" name="rewind"></ion-icon>
          Left Icon Button
        </ion-button>
        <ion-button expand="block">
          <ion-icon slot="end" name="fastforward"></ion-icon>
          Right Icon Button
        </ion-button>
        <p>Buttons with icons.</p>
      </div>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-content>
      <div>
        <ion-button expand="block" fill="clear">Clear fill Button</ion-button>
        <p>Button with a transparent background that resembles a flat button.</p>

        <ion-button expand="block" fill="outline">Outline fill Button</ion-button>
        <p>Button with a transparent background and a visible border.</p>

        <ion-button expand="block" fill="solid">solid fill Button</ion-button>
        <p>Button with a filled background. Useful for buttons in a toolbar.</p>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div>
        <ion-button expand="block" mode="md">Material Design</ion-button>
        <ion-button expand="block" mode="ios">iOS Design</ion-button>
      </div>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-content>
      <ion-button size="small">Small Button</ion-button>
      <ion-button size="default">Default Button</ion-button>
      <ion-button size="large">Large Button</ion-button>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-content>
      <div class="center">
        <ion-button color="primary">Primary Button</ion-button>
        <ion-button color="secondary">Secondary Button</ion-button>
        <ion-button color="tertiary">Tertiary Button</ion-button>
        <ion-button color="success">Success Button</ion-button>
        <ion-button color="warning">Warning Button</ion-button>
        <ion-button color="danger">Danger Button</ion-button>
        <ion-button color="light">Light Button</ion-button>
        <ion-button color="medium">Medium Button</ion-button>
        <ion-button color="dark">Dark Button</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
